<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951244714980-hbf97o4624kgb83at97su33s6lneo60k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951244714980-hbf97o4624kgb83at97su33s6lneo60k</string>
	<key>API_KEY</key>
	<string>AIzaSyBHQabc-UEaGO_-GPqG4tjydAgM1mRA6ms</string>
	<key>GCM_SENDER_ID</key>
	<string>951244714980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.altive.aimiee.myEatLog</string>
	<key>PROJECT_ID</key>
	<string>myeatlog-8ad43</string>
	<key>STORAGE_BUCKET</key>
	<string>myeatlog-8ad43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951244714980:ios:87f030dd7ac2fa77f74df1</string>
</dict>
</plist>